@model AllCategoriesQueryModel
@using static YourMoviesForum.Common.GlobalConstants.Administrator;

@{
    ViewData["Title"] = "Categories";
}

<link href="~/css/allTags.css" rel="stylesheet" />
<link href="~/css/pagination.css" rel="stylesheet" type="text/css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All</title>
</head>
<body>
     <form method="get" class="d-flex">
        <div class="form-group col-md-4">
            <div class="d-flex">
                <input asp-for="SearchTerm" class="form-control" placeholder="Search...">
                <button id="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </form>
     @if (Model.Categories.Count() ==0)
    {
            <h1 class="text-center">No categories found.</h1>
    }
    else
    {
        @if(User.IsInRole(AdministratorUsername))
         {
            <div id="createTag">
                <a id="" asp-area="Administration"
                   asp-controller="Tags"
                   asp-action="Create"
                   class="btn btn-primary btn-lg btn-block">
                    Create Tag
                </a>
            </div>
         }

        <div class="items">
            @foreach (var category in Model.Categories)
            {
                <div class="current-item">
                    <div>
                        <div class="tag-class">
                            <a asp-controller="Categories"
                               asp-action="Details"
                               asp-route-id="@category.Id">
                                <h4 style="background-color:#A96067" class="tag-Name">@category.Name</h4>
                            </a>
                        </div>
                        <h6>
                            <a asp-controller="Categories"
                               asp-action="Details"
                               asp-route-id="@category.Id">
                                Avaliable in  @category.PostsCount posts
                            </a>
                        </h6>
                        @if(User.IsInRole(AdministratorUsername))
                         {
                            <div class="delete-section">
                                <form asp-controller="Tags"
                                      asp-action="Delete"
                                      asp-route-id="@category.Id"
                                      method="post"
                                      class="btn">
                                    <button type="submit" class="btn btn-secondary">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                         }
                    </div>
                </div>
            }
        </div>
      <partial name="_PaginationPartial" model="@Model.Pagination" />
    }
</body>
</html>
