@model PostDetailsViewModel

@{
    ViewData["Title"] = "Details";

}

<link href="~/css/detailsPost.css" rel="stylesheet" type="text/css" />

<body>
    <section class="main">
        <div id="header">
            <div class="top-header">
            <div>
               <i class="icon" style="background-color:@Model.BackgroundColor">       
                     @Model.FirstLetter
               </i>
                <div class="d-inline p-2">@Model.Author.UserName</div>
            </div>
                <div>
                    <i id="calendar-icon" class="calendar-icon fas fa-calendar-alt"></i>@Model.CreatedOn
                </div>
            </div>
            <h2 class="mt-3">@Model.Title</h2>
            <div class="category-section">
                <a id="anchor"
                   asp-controller="Categories"
                   asp-action="Details"
                   asp-route-id="@Model.Category.Id">
                    <span id="category">@Model.Category.Name</span>
                </a>
            </div>
            <div class="tags">
                @foreach (var tag in Model.Tags)
                {
                    <a id="anchor"
                   asp-controller="Tags"
                   asp-action="Details"
                   asp-route-id="@tag.Id">
                        <span class="tagElement">
                            <i id="tag-icon" class="fas fa-tags"></i>
                            @tag.Name
                        </span>
                    </a>
                }
            </div>
        </div>

        <div id="content">
            <p>@Html.Raw(Model.SanitizedContent)</p>
        </div>
        <form id="reactions-form" method="post"></form>
        <div id="reactions" class="mt-3">
            <button class="button" type="button"  onclick="likeReaction(@Model.Id, 'post-reactions')">
                <i class='fa fa-thumbs-up' style='color:#35c4f3'></i>
            </button>
             <button class="button" type="button" onclick="heartReaction(@Model.Id, 'post-reactions')">
                  <img class="picture" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/uIjLl6R_cmbnqb.png" alt="heart"/>
            </button>
            <button class="button" type="button" onclick="hahaReaction(@Model.Id, 'post-reactions')">
                  <img class="picture" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/lsHmtDy_ycqnbp.png" alt="haha"/>
            </button>
            <button class="button" type="button" onclick="wowReaction(@Model.Id, 'post-reactions')">
                  <img class="picture" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/s475u9d_o8trbg.png" alt="wow"/>
            </button>
            <button class="button" type="button" onclick="sadReaction(@Model.Id, 'post-reactions')">
                  <img class="picture" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/JJuD9qb_a7gkmu.png" alt="sad"/>
            </button>
            <button class="button" type="button" onclick="angryReaction(@Model.Id, 'post-reactions')">
                  <img class="picture" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531178/VDM3zOV_qy9fqj.png" alt="angry"/>
            </button>     
        </div>
        <div id="options" class="mt-3">
            @if (User.Identity.IsAuthenticated)
            {
                @if (this.Model.Author.Id == this.User.Id() || User.IsAdministrator())
                {
                    <a asp-controller="Posts"
                        asp-action="Edit"
                        asp-route-id="@Model.Id"
                        style="color: #666f74">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-controller="Posts"
                        asp-action="Delete"
                        asp-route-id="@Model.Id"
                        style="color: #666f74">
                        <i class="fas fa-trash"></i>
                    </a>
                }
                <a onclick="animateButton()"
                    style="cursor:pointer"
                    cursor: pointer>
                    <i class="fas fa-comment-dots"><use xlink:href="#icon-reply"></use></i>
                </a>
            }
        </div>
        <partial name="_PostReactionsPartial" model="Model" />
    </section>
    <h3 class="text-center mt-4">Comments section:</h3>
    <section>
        @foreach (var reply in Model.Replies.Where(r => r.ParentId == null))
        {
            <div class="current-element">
                <div id="header">
                    <div class="top-header">
                       <div>
                        <i class="icon" style="background-color:@reply.BackgroundColor">       
                               @reply.FirstLetter
                        </i>
                        <div class="d-inline p-2">@reply.Author.UserName</div>
                        </div>
                        <div>
                            <i id="calendar-icon" class="calendar-icon fas fa-calendar-alt"></i>@reply.CreatedOn
                        </div>
                    </div>
                </div>

                <div id="content">
                    <p>@Html.Raw(reply.SanitizedContent)</p>
                </div>
                <div id="options" class="mt-3">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (reply.Author.Id == this.User.Id() || User.IsAdministrator())
                        {
                            <a asp-controller="Replies"
                                asp-action="Edit"
                                asp-route-id="@reply.Id"
                                style="color: #666f74">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-controller="Replies"
                                asp-action="Delete"
                                asp-route-id="@reply.Id"
                                style="color: #666f74">
                                <i class="fas fa-trash"></i>
                            </a>
                        }
                        <a asp-controller="Replies"
                             asp-action="Details"
                             asp-route-id="@reply.Id"
                             style="color: #666f74">
                            <i class="fas fa-comment-dots"><use xlink:href="#icon-reply"></use></i>
                        </a>
                    }
                </div>
                <div id="reactions" class="mt-3">
                  <i class='fa fa-thumbs-up' style='color:#35c4f3'></i>
                  <span id="post-likes">@reply.LikesCount</span>  
                  <img class="picture" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/uIjLl6R_cmbnqb.png" alt="heart"/>
                  <span id="post-hearts">@reply.HeartReactionsCount</span>
                  <img class="picture" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/lsHmtDy_ycqnbp.png" alt="haha"/>
                  <span id="post-hahas">@reply.HahaReactionsCount</span>
                  <img class="picture" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/s475u9d_o8trbg.png" alt="wow"/>
                  <span id="post-wows">@reply.WowReactionsCount</span>
                  <img class="picture" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/JJuD9qb_a7gkmu.png" alt="sad"/>
                  <span id="post-sads">@reply.SadReactionsCount</span>
                  <img class="picture" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531178/VDM3zOV_qy9fqj.png" alt="angry"/>
                  <span id="post-angries">@reply.AngryReactionsCount</span>
                </div>
      
                <vc:nested-reply parent-id="@reply.Id" replies="@Model.Replies"></vc:nested-reply>
            </div>
        }

    </section>
    <div id="reply-box">
        <h5 class="text-center mt-5">Reply to this Post</h5>
        <vc:create-reply post-id="@Model.Id" parent-id="null"></vc:create-reply>
    </div>
</body>

@section Scripts{
<partial name="_ValidationScriptsPartial" />

<script>
  
    function animateButton() {
          $('html, body').animate({
              scrollTop: $("#reply-box").offset().top
          }, 1500);
    }
    var token = $("#reactions-form input[name=__RequestVerificationToken]").val();
     
    function likeReaction(id, controller) {
       $.ajax({
           type: "POST",
           url: "/api/" + controller + "/like/" + id,
           headers: { 'X-CSRF-TOKEN': token },
           success: function (html) {
              $("#post-likes").html(html.likes);
              $("#post-hearts").html(html.heartReactionsCount);
              $("#post-hahas").html(html.hahaReactionsCount);
              $("#post-wows").html(html.wowReactionsCount);
              $("#post-sads").html(html.sadReactionsCount);
              $("#post-angries").html(html.angryReactionsCount);                    
           }
       });
    }

    function heartReaction(id, controller) {
       $.ajax({
           type: "POST",
           url: "/api/" + controller + "/heart/" + id,
           headers: { 'X-CSRF-TOKEN': token },
           success: function (html) {
              $("#post-likes").html(html.likes);
              $("#post-hearts").html(html.heartReactionsCount);
              $("#post-hahas").html(html.hahaReactionsCount);
              $("#post-wows").html(html.wowReactionsCount);
              $("#post-sads").html(html.sadReactionsCount);
              $("#post-angries").html(html.angryReactionsCount);                    
           }
       });
    }

    function hahaReaction(id, controller) {
      $.ajax({
          type: "POST",
          url: "/api/" + controller + "/haha/" + id,
          headers: { 'X-CSRF-TOKEN': token },
          success: function (html) {
             $("#post-likes").html(html.likes);
             $("#post-hearts").html(html.heartReactionsCount);
             $("#post-hahas").html(html.hahaReactionsCount);
             $("#post-wows").html(html.wowReactionsCount);
             $("#post-sads").html(html.sadReactionsCount);
             $("#post-angries").html(html.angryReactionsCount);                    
          }
      });
   }

   function wowReaction(id, controller) {
      $.ajax({
          type: "POST",
          url: "/api/" + controller + "/wow/" + id,
          headers: { 'X-CSRF-TOKEN': token },
          success: function (html) {
             $("#post-likes").html(html.likes);
             $("#post-hearts").html(html.heartReactionsCount);
             $("#post-hahas").html(html.hahaReactionsCount);
             $("#post-wows").html(html.wowReactionsCount);
             $("#post-sads").html(html.sadReactionsCount);
             $("#post-angries").html(html.angryReactionsCount);                    
          }
      });
   }

   function sadReaction(id, controller) {
      $.ajax({
          type: "POST",
          url: "/api/" + controller + "/sad/" + id,
          headers: { 'X-CSRF-TOKEN': token },
          success: function (html) {
             $("#post-likes").html(html.likes);
             $("#post-hearts").html(html.heartReactionsCount);
             $("#post-hahas").html(html.hahaReactionsCount);
             $("#post-wows").html(html.wowReactionsCount);
             $("#post-sads").html(html.sadReactionsCount);
             $("#post-angries").html(html.angryReactionsCount);                    
          }
      });
   }
   
   function angryReaction(id, controller) {
      $.ajax({
          type: "POST",
          url: "/api/" + controller + "/angry/" + id,
          headers: { 'X-CSRF-TOKEN': token },
          success: function (html) {
             $("#post-likes").html(html.likes);
             $("#post-hearts").html(html.heartReactionsCount);
             $("#post-hahas").html(html.hahaReactionsCount);
             $("#post-wows").html(html.wowReactionsCount);
             $("#post-sads").html(html.sadReactionsCount);
             $("#post-angries").html(html.angryReactionsCount);                    
          }
      });
   }
</script>
}
