@model PostDetailsViewModel
@using static YourMoviesForum.Common.GlobalConstants.Administrator;

@{
    ViewData["Title"] = "Details";
}


<link href="~/css/detailsPost.css" rel="stylesheet" type="text/css" />

<body>
    <section class="main">
       <div id="header">
           <div class="top-header">
              @Model.Author.UserName
               <div>
                <i id="calendar-icon" class="calendar-icon fas fa-calendar-alt"></i>@Model.CreatedOn.ToString("g")
               </div>
            </div>
            <h2 class="mt-3">@Model.Title</h2>
            <div class="tags">
             @foreach (var tag in Model.Tags)
              {
                 <a id="anchor"
                  asp-controller="Tags"
                     asp-action="Details"
                     asp-route-id="@tag.Id">
                        <span class="tagElement">
                      <i id="tag-icon" class="fas fa-tags"></i>
                      @tag.Name</span>
                  </a>                   
              }
              </div>
       </div>
       
       <div id="content">
           <p>@Html.Raw(Model.SanitizedContent)</p>
       </div>
        @if (User.Identity.IsAuthenticated)
        {
            @if (this.Model.Author.Id == this.User.Id() || User.IsInRole(AdministratorUsername))
                  {
                      <a asp-area="" 
                         asp-controller="Posts" 
                         asp-action="Edit" 
                         asp-route-id="@Model.Id" 
                         style="color: #666f74">
                          <i class="fas fa-edit"></i>
                      </a>
                      <a asp-area="" 
                         asp-controller="Posts" 
                         asp-action="Delete" 
                         asp-route-id="@Model.Id" 
                         style="color: #666f74">
                          <i class="fas fa-trash"></i>
                      </a>
                  }
        }
    </section>
</body>

@section Scripts{
     <partial name="_ValidationScriptsPartial" />
}