@model ReplyDetailsViewModel

<link href="~/css/detailsPost.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Reply Details";

    async Task GetNestedReplies(int? parentId)
    {
        var replies = Model.Replies.Where(r => r.ParentId == parentId);

         <section class="main">
           @foreach(var reply in replies)
           {
              <div class="current-element">
                <div class="nested">
                 <div id="header">
                   <div class="top-header">
                      @reply.Author.UserName
                       <div>
                          <i id="calendar-icon" class="calendar-icon fas fa-calendar-alt"></i>@reply.CreatedOn.ToLocalTime().ToString("g")
                       </div>
                   </div>
                  </div>      
                   <div id="content">
                       <p>@Html.Raw(@reply.SanitizedContent)</p>
                   </div>
                  <div id="options">
                     @if (User.Identity.IsAuthenticated)
                     {
                         @if (@reply.Author.Id == this.User.Id() || User.IsAdministrator())
                         {
                             <a asp-controller="Replies" 
                                asp-action="Edit" 
                                asp-route-id="@reply.Id" 
                                style="color: #666f74">
                                 <i class="fas fa-edit"></i>
                             </a>
                             <a asp-controller="Replies" 
                                asp-action="Delete" 
                                asp-route-id="@reply.Id" 
                                style="color: #666f74">
                                 <i class="fas fa-trash"></i>
                             </a>
                         }
                             <a asp-controller="Replies" 
                              asp-action="Details"
                              asp-route-id="@reply.Id" 
                              style="color: #666f74">
                              <i class="fas fa-comment-dots"><use xlink:href="#icon-reply"></use></i>
                             </a>  
                     }
                  </div>
               </div>
              </div>
           }
       </section>
    }
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData</title>
</head>
<body>
    <section class="main">
          <div class="current-element">
             <div id="header">
               <div class="top-header">
                  @Model.Author.UserName
                   <div>
                      <i id="calendar-icon" class="calendar-icon fas fa-calendar-alt"></i>@Model.CreatedOn.ToLocalTime().ToString("g")
                   </div>
               </div>
              </div>      
               <div id="content">
                   <p>@Html.Raw(@Model.SanitizedContent)</p>
               </div>
              <div id="options">
                 @if (User.Identity.IsAuthenticated)
                 {
                     @if (@Model.Author.Id == this.User.Id() || User.IsAdministrator())
                     {
                         <a asp-controller="Replies" 
                            asp-action="Edit" 
                            asp-route-id="@Model.Id" 
                            style="color: #666f74">
                             <i class="fas fa-edit"></i>
                         </a>
                         <a asp-controller="Replies" 
                            asp-action="Delete" 
                            asp-route-id="@Model.Id" 
                            style="color: #666f74">
                             <i class="fas fa-trash"></i>
                         </a>
                     }
                         <a asp-controller="Replies" 
                          asp-action="Details"
                          asp-route-id="@Model.Id" 
                          style="color: #666f74">
                          <i class="fas fa-comment-dots"><use xlink:href="#icon-reply"></use></i>
                         </a>  
                 }
              </div>
           </div>
            @{await GetNestedReplies(Model.Id);}
    </section>
     <div id="reply-box">
         <vc:create-reply post-id="@Model.PostId" parent-id="@Model.Id"></vc:create-reply>
    </div>
</body>
</html>
