@page
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" placeholder="Username..." />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" placeholder="Password..." />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div class="checkbox-group">
                                <input type="checkbox" asp-for="Input.RememberMe" />
                                <label asp-for="Input.RememberMe">
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    <span>@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col ml-auto text-right">
                        <a asp-page="./ForgotPassword" class="tt-underline">Forgot password?</a>
                    </div>
                </div>
                <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary btn-block bg-primary text-white">Log in</button>
                </div>
                <p class="text-center">Or sign up with social network</p>
                <div class="col">
                    <div class="form-group">
                        <a id="facebook-button" href="#" class="btn  btn-secondary btn-block" style="background-color: #3b5998;">
                            <i class="fab fa-facebook-square"></i>
                            Facebook
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <a id="google-button" href="#" class="btn bg-danger text-white btn-block">
                            <i class="fab fa-google"></i>
                            Google
                        </a>
                    </div>
                </div>
                <p class="text-center">Don’t have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="tt-underline">Sign up here</a></p>
            </form>
        </section>
    </div>
    <form style="display: none" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div>
            @{
                var fbProvider = Model.ExternalLogins?.FirstOrDefault(l => l.DisplayName == "Facebook");
                var googleProvider = Model.ExternalLogins?.FirstOrDefault(l => l.DisplayName == "Google");
            }
            @if (fbProvider != null && googleProvider != null)
            {
                <button id="fb-form-button" type="submit" name="provider" value="@fbProvider.Name"></button>
                <button id="google-form-button" type="submit" name="provider" value="@googleProvider.Name"></button>
            }
        </div>
    </form>
</div>

@section Scripts {
    @*<script>$("#facebook-button").on("click", function () {
            document.getElementById('fb-form-button').click();
        });
        $("#google-button").on("click", function () {
            document.getElementById('google-form-button').click();
        });</script>
    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: '/Identity/Account/Login' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>*@
    <partial name="_ValidationScriptsPartial" />
}
