@page
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject IOptions<ReCaptchSettings> GoogleReCaptcha
@model RegisterModel
@{
    ViewData["Title"] = "Create a new account.";
    var configKey = GoogleReCaptcha.Value.Key;
}


<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="text-center">@ViewData["Title"]</h2>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" placeholder="Enter your Username" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="Enter your Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" placeholder="Enter your Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm your Password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
            <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block bg-primary text-white">Sign up</button>
            </div>
            <p class="text-center">Or sign up with social network</p>

            <div class="col">
                <div class="form-group">
                    <a id="facebook-button" href="#" class="btn  btn-secondary btn-block" style="background-color: #3b5998;">
                        <i class="fab fa-facebook-square"></i>
                        Facebook
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <a id="google-button" href="#" class="btn bg-danger text-white btn-block">
                        <i class="fab fa-google"></i>
                        Google
                    </a>
                </div>
            </div>

            <p class="text-center">Already have an account? <a asp-area="Identity" asp-page="/Account/Login">Login here</a></p>
        </form>

        <form style="display: none" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div>
                @{
                    var fbProvider = Model.ExternalLogins?.FirstOrDefault(l => l.DisplayName == "Facebook");
                    var googleProvider = Model.ExternalLogins?.FirstOrDefault(l => l.DisplayName == "Google");
                }
                @if (fbProvider != null && googleProvider != null)
                {
                    <button id="fb-form-button" type="submit" name="provider" value="@fbProvider.Name"></button>
                    <button id="google-form-button" type="submit" name="provider" value="@googleProvider.Name"></button>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/SubmitButtons.js"></script>
    <partial name="_ValidationScriptsPartial" />

    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleReCaptcha.Value.Key"></script>
    <script>
      function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function() {
          grecaptcha.execute(@configKey, {action: 'login'}).then(function(token) {
               document.getElementById("RecaptchaValue").value = token;
              console.log(token);
          });
        });
      }
    </script>
}
