
<nav>
    <ul class="pagination">
        <li>
            <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="Home"
               asp-action="Index"
               asp-route-search="@Model.SearchTerm"
               asp-route-page="@Model.PreviousPage"
               asp-route-sorting="@((int)Model.Sorting)">
                Previous
            </a>
        </li>

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            var active = i == Model.CurrentPage ? "active" : string.Empty;
            <li class="active-pages">
                <a class="@active"
                   asp-controller="Home"
                   asp-action="Index"
                   asp-route-search="@Model.SearchTerm"
                   asp-route-page="@i"
                   asp-route-sorting="@((int)Model.Sorting)">
                    @i
                </a>
            </li>
        }
        <li>
            <a class="btn btn-primary @(Model.CurrentPage == Model.TotalPages ?
                           "disabled" : string.Empty)"
               asp-controller="Home"
               asp-action="Index"
               asp-route-search="@Model.SearchTerm"
               asp-route-page="@Model.NextPage"
               asp-route-sorting="@((int)Model.Sorting)">
                Next
            </a>
        </li>
    </ul>
</nav>