@model AllTagsQueryModel
@using static YourMoviesForum.Common.GlobalConstants.Administrator;

@{
    ViewData["Title"] = "Tags";
}


<link href="~/css/allTags.css" rel="stylesheet" />
<link href="~/css/pagination.css" rel="stylesheet" type="text/css" />


<body>
    <form method="get" class="d-flex">
        <div class="form-group col-md-4">
            <div class="d-flex">
                <input asp-for="SearchTerm" class="form-control" placeholder="Search...">
                <button id="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </form>

    @if (Model.Tags.Count() ==0)
    {
            <h1 class="text-center">No tags found.</h1>
    }
    else
    {
        @if(User.IsInRole(AdministratorRoleName))
         {
            <div id="createTag">
                <a id=""
                   asp-controller="Tags"
                   asp-action="Create"
                   class="btn btn-primary btn-lg btn-block">
                    Create Tag
                </a>
            </div>
         }

        <div class="items">
            @foreach (var tag in Model.Tags)
            {
                <div class="current-item">
                    <div>
                        <div class="tag-class">
                            <a asp-controller="Tags"
                               asp-action="Details"
                               asp-route-id="@tag.Id">
                                <h4 class="tag-Name">@tag.Name</h4>
                            </a>
                        </div>
                        <h6>
                            <a asp-controller="Tags"
                               asp-action="Details"
                               asp-route-id="@tag.Id">
                                Avaliable in  @tag.PostsCount posts
                            </a>
                        </h6>
                        @if(User.IsInRole(AdministratorRoleName))
                         {
                            <div class="delete-section">
                                <form asp-controller="Tags"
                                      asp-action="Delete"
                                      asp-route-id="@tag.Id"
                                      method="post"
                                      class="btn">
                                    <button type="submit" class="btn btn-secondary">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                         }
                    </div>
                </div>
            }
        </div>
        <partial name="_PaginationPartial" model="@Model.Pagination" />
    }

</body>


