@model AllTagsQueryModel


@{
    ViewData["Title"] = "Tags";
}


<link href="~/css/allTags.css" rel="stylesheet" />
<link href="~/css/pagination.css" rel="stylesheet" type="text/css" />


<body>
    <form method="get" class="d-flex">
        <div class="form-group col-md-4">
            <div class="d-flex">
                <input asp-for="SearchTerm" class="form-control" placeholder="Search...">
                <button id="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </form>

    <div id="createTag">
        <a id="" asp-area="Administration"
           asp-controller="Tags"
           asp-action="Create"
           class="btn btn-secondary ml-auto">
            Create Tag
        </a>
    </div>

    <div class="items">
        @foreach (var tag in Model.Tags)
        {
            <div class="current-item">
                <div>
                    <div class="tag-class">
                        <a asp-controller="Tags"
                           asp-action="Details"
                           asp-route-id="@tag.Id">
                            <h4 class="tag-Name">@tag.Name</h4>
                        </a>
                    </div>
                    <h6>
                        <a asp-controller="Tags"
                           asp-action="Details"
                           asp-route-id="@tag.Id">
                            Avaliable in  @tag.PostsCount posts
                        </a>
                    </h6>
                    <div class="delete-section">
                        <form asp-controller="Tags"
                              asp-action="Delete"
                              asp-route-id="@tag.Id"
                              method="post"
                              class="btn">
                            <button type="submit" class="btn btn-secondary">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    <nav>
        <ul class="pagination">
            <li>
                <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                   asp-controller="Tags"
                   asp-action="All"
                   asp-route-search="@Model.SearchTerm"
                   asp-route-page="@Model.PreviousPage">
                    Previous
                </a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                var active = i == Model.CurrentPage ? "active" : string.Empty;
                <li class="active-pages">
                    <a class="@active"
                       asp-controller="Tags"
                       asp-action="All"
                       asp-route-search="@Model.SearchTerm"
                       asp-route-page="@i">
                        @i
                    </a>
                </li>
            }
            <li>
                <a class="btn btn-primary @(Model.CurrentPage == Model.TotalPages || Model.TotalPages==0 ?"disabled" : string.Empty)"
                   asp-controller="Tags"
                   asp-action="All"
                   asp-route-search="@Model.SearchTerm"
                   asp-route-page="@Model.NextPage">
                    Next
                </a>
            </li>
        </ul>
    </nav>
</body>


