@model IEnumerable<PostListingViewModel>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/homePage.css" rel="stylesheet" runat="server" type="text/css" />
<link href="~/css/pagination.css" rel="stylesheet" type="text/css" />

<body>
    @if (!Model.Any())
    {
        <div class="text-center">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to @GlobalConstants.SystemName</h1>
                <p class="lead">There are no posts in the system currently available.</p>
                <hr class="my-4">
                @if (User.Identity.IsAuthenticated)
                {
                    <p>Hurry and add some!</p>
                    <p class="lead">
                        <a asp-controller="Posts" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Post</a>
                    </p>
                }
            </div>
        </div>
    }
    else
	{
        <div class="header">
            <h3 id="topic">Topic</h3>
            <h3 id="category">Category</h3>
            <h3 id="rating">Rating</h3>
            <h3 id="replies">Replies</h3>
            <h3 id="activity">Activity</h3>
        </div>

        <div class="items">
            @foreach (var post in Model)
            {
                <div class="current-item">
                    <div class="topic-section">
                             <a 
                                asp-controller="Posts"
                                   asp-action="Details"
                                   asp-route-id="@post.Id">
                                  <h5 id="title">@post.Title</h5>
                                </a> 
                        <div class="tags">
                            @foreach (var tag in post.Tags)
                            {
                                <a id="anchor"
                                asp-controller="Tags"
                                   asp-action="Details"
                                   asp-route-id="@tag.Id">
                                      <span class="tagElement">
                                    <i id="tag-icon" class="fas fa-tags"></i>
                                    @tag.Name</span>
                                </a>                       
                            }
                        </div>
                    </div>
                    <div class="category">
                        <a id="anchor"
                            asp-controller="Categories"
                            asp-action="Details"
                            asp-route-id="@post.Category.Id">
                            <h5 class="category-name">@post.Category.Name</h5>
                        </a>
                    </div>
                    <div class="rating-section">@post.Rating</div>
                    <div class="replies-section">4</div>
                    <div class="activity-section">3 days</div>
                </div>
            }
        </div>
	}
</body>


