@model AllPostsQueryModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <link href="~/css/homePage.css" rel="stylesheet" runat="server" type="text/css" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
}



<body>
    @if (!Model.Posts.Any())
    {
        <div class="text-center">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to @GlobalConstants.SystemName</h1>
                <p class="lead">There are no posts in the system currently available.</p>
                <hr class="my-4">
                @if (User.Identity.IsAuthenticated)
                {
                    <p>Hurry and add some!</p>
                    <p class="lead">
                        <a asp-controller="Posts" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Post</a>
                    </p>
                }
            </div>
        </div>
    }

    else
    {
        @*<div class="jumbotron">
                <h1 class="text-center">Currently our community has:</h1>
                <div class="row">
                    <h2 class="col-md-6 text-center">
                        @Model.TotalPosts Posts
                    </h2>
                    <h2 class="col-md-6 text-center">
                        @Model.TotalUsers Users
                    </h2>
                </div>
            </div>*@
        <form method="get">
            <div class="form-group col-md-4">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Search...">
                <button id="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>

            <div class="form-group col-md-4">
                <div class="form-group">
                    <label asp-for="Sorting"></label>
                    <select asp-for="Sorting" class="form-control">
                        <option value="0" selected>Date Created</option>
                        <option value="1">Tags</option>
                        <option value="2">Rating</option>
                        <option value="3">Reply</option>
                    </select>
                </div>
            </div>
        </form>

        <div class="header">
            <h3 id="topic">Topic</h3>
            <h3 id="category">Category</h3>
            <h3 id="rating">Rating</h3>
            <h3 id="replies">Replies</h3>
            <h3 id="activity">Activity</h3>
        </div>

        <div class="items">
            @foreach (var post in Model.Posts)
            {
                <div class="current-item">
                    <div class="topic-section">
                        <h5>@post.Title</h5>
                        <div class="tags">

                            @foreach (var tag in post.Tags)
                            {
                                <span class="tagElement">
                                    <i class="fas fa-tags"></i>
                                    @tag.Name
                                </span>
                            }

                        </div>
                    </div>
                    <div class="category">
                        <h5 class="category-name">@post.Category.Name</h5>
                    </div>
                    <div class="rating-section">2</div>
                    <div class="replies-section">4</div>
                    <div class="activity-section">3 days</div>
                </div>
            }
        </div>

        <nav>
            <ul class="pagination">
                <li>
                    <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                       asp-controller="Home"
                       asp-action="Index"
                       asp-route-search="@Model.SearchTerm"
                       asp-route-page="@Model.PreviousPage"
                       asp-route-sorting="@((int)Model.Sorting)">
                        Previous
                    </a>
                </li>
                
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    var active = i == Model.CurrentPage ? "active" : string.Empty;
                    <li class="active-pages">
                        <a class="@active"
                           asp-controller="Home"
                           asp-action="Index"
                           asp-route-search="@Model.SearchTerm"
                           asp-route-page="@i"
                           asp-route-sorting="@((int)Model.Sorting)">
                            @i
                        </a>
                    </li>
                }
                <li>
                    <a class="btn btn-primary @(Model.CurrentPage == Model.TotalPages ?
                           "disabled" : string.Empty)"
                       asp-controller="Home"
                       asp-action="Index"
                       asp-route-search="@Model.SearchTerm"
                       asp-route-page="@Model.NextPage"
                       asp-route-sorting="@((int)Model.Sorting)">
                        Next
                    </a>
                </li>
                @*asp-route-sorting="@((int)Model.Sorting)"*@
            </ul>
        </nav>
    }
</body>

